<h1>More About Citizen Science</h1>

			<p>The Citizen Science Blog is a repository of projects and organizations currently involved in Citizen Science created by 
				Sandi Cook.  Be sure to check out Sandi's developer website - Magiquark - 
				<a href="http://www.magiquark.com">here</a>.
			</p>

		<%= image_tag 'img1.jpg' %>
		

